html {
    /*background-color: wheat;*/
}
body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 60px;
}

.card {
    box-shadow: 1px 3px 14px 0px rgba(0, 0, 0, 0.42);
}
